
header {
  display: flex;
  background-image: url();
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
  body {
    background: beige;
  }
  .contenor-intro {

    width: auto;
    height: auto;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
  }
  .container-intro {
    display: flex;
    width: 500px;
    height: 500x;
    background: chocolate;
    display: -webkit-inline-box;
  }
  .container-nom-foto img{
    border-radius: 50%;
    width: 50%;
    max-height: 80%;
  }
  .container-ob-ab {
    display: flex;

  }
  .container-about-me {

    width: 470px;
    height: 310px;
    background: aquamarine;
    align-items: baseline;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column-reverse;

  }
  .content-Ex-Fo {
    display: flex;
  }
  .container-exp-for {
    display: flex;
    background: cadetblue;
    align-content: space-between;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;

  }
  p {
    width: 50%; /* == 400px * .5 = 200px */
    height: 25%; /* == 160px * .25 = 40px */
    margin: 5%; /* == 400px * .05 = 20px */
    padding: 5%; /* == 400px * .05 = 20px */
    background: cyan;
    padding: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(128, 128, 128);
  }

  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
  }
  .container-com-in {
    display: flex;
    background: rgb(194, 187, 97);
    align-content: start;
    justify-content: unset;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
  }

